
<div>
  <p>
    1 @input de Padre  a: <span>{{ MensajeUno }}</span>
  </p>
  <p>
    2 @input de Padre a: <span>{{ mensajeDos }}</span>
  </p>
  <p>
    3 @input de Padre a: <span>{{ mensajeTres }}</span>
  </p>
  <p>
    4 @input de Padre a: <span>{{ mensajeCuatro }}</span>
  </p>
  <p>
   5 @input de Padre a: <span>{{ mensajeCinco }}</span>
  </p>
</div>